@use "../base/colors.scss" as colors;

.colors {
  display: flex;
  gap: 1rem;

  & li {
    width: 1rem;
    height: 1rem;
    border: 1px solid;
    border-radius: 50px;
  }

  & .white {
    background-color: colors.$light-bg;
    border-color: colors.$light-text;
    color: colors.$light-text;
  }

  & .black {
    background-color: colors.$dark-bg;
    border-color: colors.$dark-text;
    color: colors.$dark-text;
  }
}
