#follower {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  text-transform: uppercase;
  color: white;
  position: fixed;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 250px;
  pointer-events: none;
  z-index: 2;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-out, width 0.75s ease-out,
    height 0.75s ease-out, border-radius 0.75s ease-out,
    font-size 0.75s ease-out;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &:where([data-background="true"]) {
    width: 20vw;
    height: 15vw;
    border-radius: 0;
    border: none;
  }

  &:where([data-hover="true"]) {
    padding: 1rem;
    width: fit-content;
    height: auto;
    aspect-ratio: 1;
    background: black;
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  #follower {
    display: none;
  }
}
