.modal {
  width: 30%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  z-index: -1;

  img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
