.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100svh;
  padding: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);

  @supports not (height: 100svh) {
    min-height: -webkit-fill-available;
  }
}

.intro {
  font-size: 1.2rem;
}

.portrait {
  max-width: 60%;
  align-self: flex-end;
}

.parkour {
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 0.5rem;
}

.say-hi {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
  border: 1px solid currentColor;
  padding-inline: 0.5rem 1rem;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 4rem 2rem;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .intro {
    font-size: 2rem;
    width: 70vw;
    color: white;
    mix-blend-mode: difference;
    z-index: 2;
  }

  .portrait {
    position: absolute;
    right: 0;
    height: 100%;
  }

  .parkour,
  .say-hi {
    margin-left: 3vw;
  }

  .arrow {
    transition: transform 0.25s ease-in;
  }

  .say-hi {
    span {
      font-weight: 400;
    }

    &:hover {
      span {
        font-style: italic;
      }
      .arrow {
        transform: translateX(1rem);
      }
    }
  }
}
