.contact {
  height: 100svh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);

  @supports not (height: 100svh) {
    height: -webkit-fill-available;
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  & h2 {
    width: min-content;
    font-size: clamp(4rem, 3.636rem + 1.82vw, 5rem);

    @media (min-width: 768px) {
      width: fit-content;
    }
  }
}

.before {
  display: none;
}

.signature {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .before {
    display: block;
    transform: scale(1, 1);
    transform-origin: bottom left;
    transition: transform 0.25s ease-in;
  }

  .after {
    transform: scale(0, 0);
    transform-origin: top right;
    transition: transform 0.25s ease-in;
  }

  .signature {
    align-self: flex-end;
    margin-right: 8rem;
  }

  .signature:hover {
    .before {
      transform: scale(0, 0);
      transform-origin: top right;
      transition: transform 0.25s ease-in;
    }

    .after {
      transform: scale(1, 1);
      transition: transform 0.25s ease-in;
      transform-origin: bottom left;
      transition-delay: 0.25s;
    }
  }
}
