.work {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  .projects {
    width: 100%;
    height: 100vh;
    padding: 2dvw;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
  }

  .project-detail {
    width: 100%;
    height: fit-content;
    box-shadow: inset 0 -2px 0 currentColor;
  }

  .project-title {
    font-weight: 500;
  }

  .project-description {
    position: absolute;
    bottom: 0.2em;
    font-size: 0.7em;
  }
}

@media screen and (min-width: 768px) {
  .arrow {
    transition: transform 0.25s ease-in;
  }

  .project-detail a:hover {
    .project-title {
      font-style: italic;
    }

    .arrow {
      color: currentColor;
      transform: translateX(1em);
    }
  }
}
