@import '../variables.scss';

.work {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2dvw;
    font-size: 1.2em;
  }

  .project-title {
    font-weight: 500;
  }

  .project-detail {
    width: 100%;
    height: fit-content;
  }

  .project-detail a:hover {
    .project-title {
      font-style: italic;
    }

    .arrow {
      color: black;
      transform: translateX(1em);
      transition: transform 0.25s ease-in;
    }
  }

  .project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
  }

  hr {
    border: none;
    border-top: 2px solid $main-color;
    color: $main-color;
    overflow: hidden;
    text-align: center;
    height: 3px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .work {
    .projects {
      height: 100vh;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }

    .project-description {
      position: absolute;
      bottom: 0.2em;
      font-size: 0.7em;
    }
  }
}
