.contact {
  width: 100dvw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  align-self: flex-end;
  padding-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
