@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  overscroll-behavior-x: none;
  -webkit-font-smoothing: subpixel-antialiased;

  @media (resolution >= 1.5dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.root {
  width: 100%;
  height: 100%;
}

main {
  @include themed {
    background-color: t("background-color");
    color: t("text-color");
  }
}

ul {
  list-style: none;
}

li {
  display: table-cell;
}

a {
  cursor: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: 600;
  color: currentColor;
}

html {
  cursor: none;
}

span {
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .link:after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    bottom: 1.3px;
    left: 0;
    background-color: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;
  }

  .link.active {
    text-decoration: underline 2px currentColor;
  }

  .link:hover:after,
  .link:active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
