@use "../theme.scss" as theme;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: theme.$main-font;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  overscroll-behavior-x: none;
  -webkit-font-smoothing: subpixel-antialiased;

  @media (resolution >= 1.5dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

main {
  @include theme.themed {
    background-color: theme.t("background-color");
    color: theme.t("text-color");
  }
}

ul {
  list-style: none;
}

li {
  display: table-cell;
}

a {
  cursor: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: 600;
  color: currentColor;
}

html {
  cursor: none;
}

span {
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .link {
    background-image: linear-gradient(currentcolor, currentcolor);
    background-repeat: no-repeat;
    background-position: bottom 0 left 100%;
    background-size: 0 2px;
    transition: background-size 0.3s ease-out;

    &:is(:hover, :focus-visible) {
      background-size: 100% 2px;
      background-position: bottom 0 right 100%;
    }
  }

  .link.active {
    background-size: 100% 2px;
    background-position: bottom 0 right 100%;
  }
}
