/* Light Theme Colors */
$light-bg: #ffffff;
$light-text: #000000;

/* Pink Theme Colors */
$pink-bg: #fff5f5;
$pink-text: #ff3700;

/* Blue Theme Colors */
$blue-bg: #002fa7;
$blue-text: #ffffff;

/* Dark Theme Colors */
$dark-bg: #000000;
$dark-text: #ffffff;
